.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    max-width: 1440px;
    max-height: 696px;
    background: #fff;
    position: relative; 
}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
}

/* .gallery-link {
    display: block;
    text-decoration: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.gallery-link:hover {
    transform: scale(1.03);
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}